<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>createaccount</servlet-name>
    <servlet-class>servlet.CreateAcount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>submitvideo</servlet-name>
    <servlet-class>servlet.SubmitVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mainqueue</servlet-name>
    <servlet-class>workers.QueueWorker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkstorage</servlet-name>
    <servlet-class>servlet.CronStorage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mainpage</servlet-name>
    <servlet-class>servlet.MainPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bronzequeue</servlet-name>
    <servlet-class>workers.BronzeWorker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>videostatus</servlet-name>
    <servlet-class>servlet.VideoStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>convert</servlet-name>
    <servlet-class>servlet.ConvertVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createaccount</servlet-name>
    <url-pattern>/createaccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>submitvideo</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkstorage</servlet-name>
    <url-pattern>/checkstorage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mainpage</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>videostatus</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bronzequeue</servlet-name>
    <url-pattern>/bronzequeue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mainqueue</servlet-name>
    <url-pattern>/queuedispatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>convert</servlet-name>
    <url-pattern>/convert</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcom-file>mainpage.jsp</welcom-file>
  </welcome-file-list>
</web-app>
