<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>queue</servlet-name>
    <servlet-class>helloworld.ArticleQueue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>storage</servlet-name>
    <servlet-class>helloworld.QuickstartSample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>videoworker</servlet-name>
    <servlet-class>workers.VideoWorker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginAPI</servlet-name>
    <servlet-class>helloworld.SubmitVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queue</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>videoworker</servlet-name>
    <url-pattern>/videoupload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginAPI</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>storage</servlet-name>
    <url-pattern>/storage</url-pattern>
  </servlet-mapping>
</web-app>
